
#title {
    color: white;
    background-color: black;
    margin:20px;
    padding: 10px;
    padding-left: 20px;
    margin-right: 10px;
    width: 160px;
    font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
    
    
        }


.img1 {

    width: 90px;
    border: 3px solid black;
    margin: 20px;
}

.img2{
    width: 400px;
}

.flexbox-item{
    border: 5px solid black;
    width: 200px;
    height: 200px;
    display:inline-block;
    vertical-align: middle;
    text-align:center;
    font-size:200px;
    
}

.piece{
  border-top:auto;
}

.row {
  height: 200px;
}